@import '../../variables.scss';

.pagination {
  text-align: center;
  .arrow {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;

    svg {
      vertical-align: middle;
      fill: $text-color;
      width: 20px;
      height: 20px;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &.prev {
      transform: rotate(180deg);
    }
  }

  .page {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
  }
}