@import '../variables.scss';

.svgContainer {
  display: none;
}

.root {
  max-width: $page-width;
  margin: 0 auto;

  .content {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    font-size: 21px;
  }

  .breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: $blue;

    li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;

      &:not(:first-child):before {
        content: '::';
        margin: 0 10px;
      }
    }

    @media(max-width: 500px) {
      li {
        display: block;

        &:before {
          display: none;
        }
      }
    }
  }
}