@import '../../variables.scss';

.article {
  .date {
    font-size: 11px;
    font-style: italic;
    color: $light-text-color;
  }

  .preview {
    margin-top: 10px;
    font-size: 13px;
  }

  a,
  a:link,
  a:hover,
  a:visited, {
    text-decoration: none;
    color: $blue;
    cursor: pointer;
  }

  .description .loader {
    margin-top: 20px;
  }
}