@import '../../variables.scss';

.newsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    margin: 5px;
    padding: 10px;
    width: calc(50% - 10px);
    font-size: 14px;
    color: $text-color;
    border-radius: 5px;
    border: 1px solid $border-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background: #eee;
    }

    @media(max-width: 700px) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: $text-color;
    }

    .date {
      font-size: 11px;
      font-style: italic;
      color: $light-text-color;
    }

    p {
      font-size: 14px;
    }

    &.emptyList {
      width: 100%;
      text-align: center;
      pointer-events: none;
    }
  }
}
