@import '../../variables.scss';

.categories {
  .categoriesList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-top: 1px solid $border-color;
    li {
      padding: 10px;
      font-size: 14px;
      color: $text-color;
      border: 1px solid $border-color;
      border-top: none;
      cursor: pointer;

      &:hover {
        background: #eee;
      }

      &.emptyList {
        text-align: center;
        pointer-events: none;
      }
    }
  }
}